* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 18px;
}

.brand-header {
  text-align: center;
  margin: 3.33rem 0;
}
.brand {
  font-family: "Snell Roundhand", cursive;
  font-size: 3.75rem;
  font-weight: normal;
}

.row {
  display: flex;
  align-items: stretch;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.article {
  padding: 0 .875rem;
  border-right: 1px solid black;
}
.article-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  font-style: italic;
}
.article-text {
  line-height: 1.5;
}
.article-img {
  display: block;
  margin: auto auto;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid black;
}
.nav {
  display: flex;
  flex: 1;
  align-items: center;
}
.nav-politics {
  background-color: #ffeaa7;
}
.nav-technology {
  background-color: #81ecec;
}
.nav-local {
  background-color: #55efc4;
}
.nav-opinion {
  background-color: #74b9ff;
}
.nav-sports {
  background-color: #a29bfe;
}

.link {
  text-decoration: none;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: 'Futura';
  color: #666;
  padding-left: 30px;
}
.link:hover {
  text-decoration: underline;
}

.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.three-quarter {
  width: 75%;
}

